configuration {
    modi: "drun,run,window";
    display-run:                    "";
    display-drun:                   "";
    display-window:                 "";
    show-icons: true;

    kb-cancel:                      "Escape,Super_L";
    kb-mode-previous:               "Shift+Left,Alt+ISO_Left_Tab";
    kb-mode-next:                   "Shift+Right,Alt+Tab";
}

@theme "theme.rasi"
